<app-top-of-page anchorUrl="./challenge-pipes"></app-top-of-page>
<h1>Challenge: Pipes</h1>
<h3>Description</h3>
<p>
    Pipes are a great way to format data in your templates. These are based on challenges found on the internet.
</p>
<ul>
    <li>If more than two arguments for a pipe it's good practice to place them in an array/object.</li>
</ul>
<shared-shortcuts [anchorLinks]="anchorLinks" />
<hr class="my-4">

<h4 id="truncate">Truncate</h4>
<p>
    This challenge is a pipe that truncates a string at a specified length and adds dots at the end.
</p>
<span class="d-block fw-semibold">Arguments</span>
<ul>
    <li><code>length</code>: The max length of the sentence. Has a default length of 30 character if not specified.</li>
    <li><code>fullWord</code>: A boolean that if set to <code>true</code> will not clip the last word.</li>
</ul>

<div class="border p-3 mb-3 rounded shadow-sm">
    <span class="d-block fw-semibold">Input</span>
    <p>Original string: {{truncateString}}</p>
    <span class="d-block fw-semibold">Result</span>
    <p>Truncated string (no arguments): {{ truncateString | truncate }}</p>
    <p>Truncated string (40): {{ truncateString | truncate: 40 }}</p>
    <p>Truncated string (40 : true): {{ truncateString | truncate: 40 : true }}</p>
</div>
<shared-syntax-highlight 
    title="truncate.pipe.ts" 
    [code]="truncatePipeCode" 
    language="typescript">
</shared-syntax-highlight>
<shared-syntax-highlight 
    title="app.component.html" 
    [code]="truncateTemplate" 
    language="xml">
</shared-syntax-highlight>

<hr class="my-4">

<h4 id="filterterm">Filter term</h4>
<p>
    Pipe takes in an array of strings and filters it by a string.
</p>
<div class="border p-3 mb-3 rounded shadow-sm">
    <span class="d-block fw-semibold">List of names</span>
    {{ filterTermList }}

    <span class="d-block fw-semibold mt-3">Search term</span>
    <input type="text" class="form-control" [(ngModel)]="searchTerm">
    
    <span class="d-block fw-semibold mt-3">Result</span>
    {{ filterTermList | filterTerm: searchTerm }}
    @if((filterTermList | filterTerm: searchTerm).length === 0)
    {
        <span class="text-danger">No results found</span>
    }
    <span class="d-block fw-semibold mt-3">Result with a for-loop</span>
    <ul>
        @for(name of filterTermList | filterTerm: searchTerm; track name)
        {
            <li><code>{{ name }}</code></li>
        }
        @empty {
            <li class="text-danger">No results found</li>
        }
    </ul>
</div>
<shared-syntax-highlight 
    title="filter-term.pipe.ts" 
    [code]="filterTermPipeCode" 
    language="typescript">
</shared-syntax-highlight>
<shared-syntax-highlight 
    title="app.component.ts" 
    [code]="filterTermCode" 
    language="typescript">
</shared-syntax-highlight>
<shared-syntax-highlight 
    title="app.component.html" 
    [code]="filterTermTemplate" 
    language="xml">
</shared-syntax-highlight>

<hr class="my-4">

<h4 id="sortby">Sort By</h4>
<p>
    Create a pipe the sorts a string array. Pass in a direction for the sort as well. If a value is not defined simply return it and if a value is not an array throw an error.
</p>
<span class="d-block fw-semibold">Arguments</span>
<ul>
    <li><code>direction</code>: Default is 'asc' and doesn't need to be specificed. Specify 'desc' if you want reversed order.</li>
</ul>

<div class="border p-3 mb-3 rounded shadow-sm">
    <span class="d-block fw-semibold">List of games (unsorted)</span>
    <p>{{ sortByList }}</p>
    <span class="d-block fw-semibold">Result</span>
    <p><strong>ASC:</strong> {{ sortByList | sortBy }}</p>
    <p><strong>DESC:</strong> {{ sortByList | sortBy: 'desc' }}</p>
    <p><strong>Sort a string:</strong> See Console for error message{{ sortByString | sortBy }}</p>
</div>
<shared-syntax-highlight 
    title="sort-by.pipe.ts" 
    [code]="sortByPipeCode" 
    language="typescript">
</shared-syntax-highlight>
<shared-syntax-highlight 
    title="app.component.html" 
    [code]="sortByTemplate" 
    language="xml">
</shared-syntax-highlight>

<hr class="my-4">

<h4 id="creditcardformatter">Credit Card formatter</h4>
<p>
    A pipe that takes in a credit card number stored as a string such as '1111222233334444'. If in the correct form return it dashed. If in the incorrect form return an error for invalid length or an error for invalid characters.
</p>
<p>
    Does not validate the credit card number, only formats it. And doesn't check if the credit card is to short.
</p>
<div class="border p-3 mb-3 rounded shadow-sm">
    <span class="d-block fw-semibold">Input</span>
    <div class="input-group mb-3 py-1">
        <input type="text" class="form-control" [(ngModel)]="creditcard">
    </div>
    <span class="d-block fw-semibold">Result</span>
    <p>{{ creditcard | creditCardFormatter }}</p>
</div>
<shared-syntax-highlight 
    title="credit-card-formatter.pipe.ts" 
    [code]="creditCardFormatterPipeCode" 
    language="typescript">
</shared-syntax-highlight>
<shared-syntax-highlight 
    title="app.component.html" 
    [code]="creditCardFormatterTemplate" 
    language="xml">
</shared-syntax-highlight>