// Override Highlight.js styles
.hljs {
    color: #383a42;
    background: #F6F8FA;
    border-radius: 0 0 .5rem .5rem;
    border: 1px solid #e1e4e8;
    border-top: 0px;
    min-width: 600px;
}
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    font-family: 'DM Mono', monospace;
    white-space: pre-wrap;
}
.hljs-ln-n {
    padding: 0 0.5rem 0 0;
}

// Override Bootstrap styles
p {
    margin-bottom: .75rem !important;
    max-width: 700px;
}

code {
    font-size: .875rem !important;
    background-color: #F2F2F2;
    padding: 0 .2rem;
}