// Override Bootstrap variables

// Colors
$blue: #CC26D5;

// Fonts
$font-size-base: 0.875rem;

// Buttons
$font-weight-bold: 600;
$btn-font-weight: $font-weight-bold;

// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );