$bg-pink-light: rgba($color: #CC26D5, $alpha: .1);

$text-pink-light: rgba($color: #CC26D5, $alpha: .1);
$text-pink-light-200: rgba($color: #CC26D5, $alpha: .2);
$text-pink-light-300: rgba($color: #CC26D5, $alpha: .3);