.snackbar-container {
    position: fixed;
    // visibility: hidden;
    bottom: 50px;
    width: 50%;
    padding: 1rem 2rem;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    // overflow: hidden;
    
    // @keyframes slidein {
    //     from {
    //         bottom: 0;
    //         opacity: 0;
    //     }
      
    //     to {
    //         bottom:50px;
    //         opacity: 1;          
    //     }
    // }

    // @keyframes slideout {
    //     from {
    //         bottom: 50px;
    //         opacity: 1;
    //     }
      
    //     to {
    //         bottom: 0;
    //         opacity: 0;          
    //     }
    // }
    
    // &.show {
    //     visibility: visible;
    //     animation: slidein 1s, slideout 1s 3s;
    // }
}
