<!-- NAV-BAR -->
<div class="d-flex flex-row">
    <div class="p-3 me-5 mt-2">
        <img src="../assets/angular-bootcamp-logo.svg" alt="" width="200px" height="52px">
        <ul class="nav flex-column mt-3">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
        </ul>

        <!-- CHALLENGES -->
        <ul class="nav flex-column mt-3">
            <li>
                <span class="nav-category">CHALLENGES</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/challenge-pipes">Pipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/challenge-directives">Directives</a>
            </li>
        </ul>

        <!-- GUIDES -->
        <ul class="nav flex-column mt-3">
            <li>
                <span class="nav-category">GUIDES</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/pipes">Pipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/defer">Deferrable Views</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/directives">Directives</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signals">Signals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ssr">SSR</a>
            </li>
        </ul>

        <!-- API REFERENCES -->
        <ul class="nav flex-column mt-3">
            <li>
                <span class="nav-category">BEST PRACTICES</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">OnPush</a>
            </li>
        </ul>

        <!-- API REFERENCES -->
        <ul class="nav flex-column mt-3">
            <li>
                <span class="nav-category">API REFERENCES</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">TBD</a>
            </li>
        </ul>
    </div>
    
    <!-- CONTENT -->
    <div class="container  mt-4">
            <router-outlet></router-outlet>
    </div>
</div>
